/* Top Bar */
.layout-container {
    display: flex;
    justify-content: space-between;
}
.main-content-product {
    flex: 1;
    position: relative;
    margin-left: 25%;
}
.top-bar {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
}

.top-bar h4 {
    color: #0f2c59;
    font-weight: bold;
    font-size: 24px;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-bar input {
    width: 400px;
    height: 46px;
    padding: 8px;
    border: 1px solid #b4b4b8;
    border-radius: 0;
    margin-right: 30px;
}

.complete-button {
 
    padding: 8px 16px;
    background-color: #0f2c59;
    color: #fff;
    border: none;
    border-radius: 0;
    transition: all 0.3s ease;
}

.complete-button:hover {
    background-color: var(--cream-color);
    color: #0f2c59;
    font-weight: bold;
    box-shadow: 0 0 0 2px #0f2c59;
}

.complete-button:active {
    transform: scale(0.95);
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.top-bar h4 {
    color: #0f2c59;
    font-weight: bold;
    font-size: 24px;
}
.search-bar input {
    width: 400px;
    height: 46px;
    padding: 8px;
    border: 1px solid #b4b4b8;
    border-radius: 0;
    margin-right: 30px;
}

.complete-button {
    cursor: pointer;
    padding: 15px 25px;
    background-color: #0f2c59;
    color: #fff;
    border: none;
    border-radius: 7px;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid lightblue;
}
.btn-sign-out{
    font-size: 20px;
    font-weight: 600;
   
    color: #3636ce;
    cursor: pointer;
}
