:root {

    /* Color */
    --black-color: #222831;
    --white-color: #ffffff;
    --cream-color: #f2efe5;
    --red-color: #c7253e;
    --blue-color: #0e6af4;
    --green-color: #72bf78;
    --gold-color: #fabc3f;
    --gray-color: #b4b4b8;
    --silver-color: #d6d5da;
    --dark-blue-color: #0f2c59;
    --dark-gray-color: #758694;
    --light-red-color: #f47c7c;
    --light-gray-color: #f5f5f5;
}