.filter-section {
    display: flex;
    width: 1036px;
    height: 86px;
    margin-left: 2.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 10px 0;
    background-color: white;
  }
  .filter {
    display: flex;
    padding: 0px 20px;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
  }
  .filter-section span {
    margin-left: 1rem;
    font-weight: bold;
  }
  .filter-button {
    padding: 8px 16px;
    background-color: white;
    border: 1px solid #f47c7c;
    color: #f47c7c;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
  }
  .filter button.active {
    background-color: #ff4d4d;
    color: white;
  }
  .filter-button:hover {
    background-color: #ff4d4d;
    color: white;
    
  }
  
  .sort-button {
    padding: 8px 16px;
    background-color: #f2efe5;
    border: 1px solid #ccc;
    font-weight: bold;
    border-radius: 0;
    margin-right: 2rem;
  }
  
  /* Product List */
  .product-table {
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: 100%;
  }
  .product-table thead{
    background-color: #1e233c;
    color: #5668e0;
    height: 60px;
    text-align: center;
  }
 
  .product-table tbody tr{
    border-bottom: 1px solid #dddddd;
  }

  .product-list img {
    width: 100px;
    flex-shrink: 0;
  }
  
  .status.active {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .edit-button,
  .delete-button {
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .edit-button {
    color: var(--blue-color);
    text-decoration: none;
  }
  
  .delete-button {
    color: #ff4d4d;
    margin-right: 20px;
  }
  
  .product-list td{
    padding: 10px;
  }
  /* Pagination Section */
  .bottom-bar {
    width: 1036px;
    margin-left: 2.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .add-product {
    padding: 10px 20px;
    background-color: #72bf78;
    color: white;
    border: none;
    border-radius: 0;
    font-weight: bold;
    margin-left: 0;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.7s;
  }
  .add-product:hover{
    background-color: #007bff;
    color: black;
  }
  .pagination-buttons button {
    padding: 8px 12px;
    background: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 0;
    font-weight: bold;
    margin-left: 0;
  }
  
  .pagination-buttons button:focus {
    background-color: #007bff;
    color: white;
  }

  