.product-list {
  padding: 50px;
}
.pagination-buttons ul {
  display: flex;
}
.pagination-buttons .list-pagination {
  cursor: pointer;
  list-style: none;
  padding: 8px 12px;
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0;
  font-weight: bold;
  margin-left: 2px;
}
.active-pagination {
  background-color: #007bff !important;
  color: #fff !important;
}
.dropdown-sort {
cursor: pointer;
  background-color: #5eaef2;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}
.status-inactive{
  background-color: red;
  width: fit-content;
  padding: 10px;
  border-radius: 5px ;
  color: #fff;
  font-weight: 600;
}
.status-active{
  background-color: rgb(55, 0, 255);
  width: fit-content;
  padding: 10px;
  border-radius: 5px ;
  color: #fff;
  font-weight: 600;
}