.account-details-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 120px;
}
.btn-logout{
  color: aliceblue;
  cursor: pointer;
  font-size: 17px;
  border: none;
  background-color: rgb(156 120 234);
  padding: 10px 20px;
  border-radius: 5px;

  margin-top: 10px;
  right: 0;
}
.btn-logout:hover{
  opacity: 0.8;
}