* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.breadcrum {
  text-align: left;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  gap: 10px;
  padding-top: 10px;
}
.Cart {
  padding-top: 80px;
  background-color: whitesmoke;
}
.order-summary {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  gap: 20px;
}

.order-items {
  flex: 2;
}
h1 {
  text-align: left;
  margin-bottom: 20px;
}
