* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Khai báo biến màu */
:root {
  --Black: #222831;
  --Silver: #d6d5da;
  --White: #fff;
  --Red: #ff0000;
}
.isActive {
  background-color: #6a62f9;
  border-radius: 10px;
  position: relative;
}
.isActive::after {
  content: ">";
  position: absolute;
  right: 10px;
  top: 9px;
  font-weight: bold;
}
.isActive::before {
  content: "";
    display: block;
    width: 5px;
    height: 47px;
    top: 0;
    right: -20px;
    background-color: #6087db;
    position: absolute;
    font-weight: bold;
    border-radius: 10px 0px 0px 10px;
  
  font-weight: bold;
}

.header-container {
  width: 25%;
  background-color: #2c2b40;
  position: fixed;
  top: 0;
  height: 100vh;
}
.header-container .logo-container {
  display: flex;
  padding: 25px;
  align-items: center;
}
.header-container .logo {
  width: 100px;
  margin-right: 10px;
}
.header-container .logo-text {
  color: #fff;
}
.header-container .header-menu {
  font-size: 20px;
}
.header-container .header-menu ul {
  padding: 0 20px;
  list-style: none;
}
.header-container .header-menu ul li {
  padding: 20px 0;
}
.header-container .header-menu ul a {
  display: block;
  text-decoration: none;
  color: #d6d5da;
  font-weight: 600;
  width: 100%;
  padding: 10px 20px;
}
.header-container .header-menu .icon-menu{
  margin-right: 10px;
}

.info-user{
  padding: 10px 22px;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.info-user-name{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.info-user-permission{
  color: #6087db;
  font-weight: 600;
  
}