* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Khai báo biến màu */
:root {
  --Black: #222831;
  --Silver: #d6d5da;
  --White: #fff;
  --Red: #ff0000;
}

.header-container {
  display: flex;
  width: 324px;
  padding: 40px 24px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  border-right: 1px solid var(--Silver);
  background: var(--Black);
}

.logo img {
  width: 60px;
  height: 60px;
  margin-top: 1.5rem;
}

.logo-text {
  color: var(--White);
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.logo-container {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.account,
.products,
.orders,
.categories,
.logout {
  display: flex;
  height: 60px;
  padding: 0 25px;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
  cursor: pointer;
  transition: border-left 0.3s ease, color 0.3s ease;
}

.account a,
.products a,
.orders a,
.categories a,
.logout a {
  text-decoration: none;
  font-weight: bold;
  color: var(--White);
  cursor: pointer;
}

/* Thêm hiệu ứng khi người dùng click vào mục */
.account:active,
.products:active,
.orders:active,
.categories:active,
.logout:active {
  border-left: 5px solid var(--White); /* Viền màu trắng khi nhấn */
}
